#container {
  position: absolute;
  height: 690px;
  width: 1400px;
  overflow: hidden;
  border: 1px solid black;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
  font-size: 60px;
}


ul{
  position: absolute;
  left: 8px;
  top: 3px;
  font-size: 12px;
   list-style-type: none;

}

span{
  text-decoration: underline;
  font-weight: bold;
}


#HIT {
  position: relative;
  font-size: 100px;
  color: blue;
  text-align: right;
  top: -500px;
  margin: 15px 30px 30px 30px;
  animation: blinker 1s linear infinite;
}

#MISS {
  position: relative;
  font-size: 100px;
  color: red;
  text-align: right;
  top: -500px;
  margin: 15px 30px 30px 30px;
  animation: blinker 1s linear infinite;
}

#score_board{
  cursor: pointer;
  text-align: center;
  margin: 20px 30px 30px 30px;
  border-radius: 5px;
  text-decoration: underline;
}

#start_btn{
   cursor: pointer;
    color: black;
    text-align: left;
    border-radius: 5px;
    background-color: #4c4cff;
    position: absolute;
    padding: 6px;
    margin: 0px 30px 30px 120px;
}

#slow_btn{
  cursor: pointer;
  color: black;
  text-align: left;
  border-radius: 5px;
  background-color: #da0101;
  position: absolute;
  padding: 6px;
  margin: 0px 30px 30px 200px;
}

#next_cat_btn{
  cursor: pointer;
  color: black;
  background-color:#D3D3D3;
  text-align: left;
  border-radius: 5px;
  position: absolute;
  padding: 6px;
  margin: 50px 30px 300px 120px;
}

.line1{
  height: 2px;
  border-bottom: 1px solid #313030;
  background: #717171;
  margin-top: 100px;
}


#target {
  position: absolute;
  left: 850px;
  top: 300px;
  bottom: 0px;
}
#target #target_img{

  width: 250px;
  height: 250px;

}


#cat1{
  text-align: left;
  position: absolute;
  background-color: white;
  left: 0px;

}

#cat_img1{
  position: absolute;
  width:150px;
  height:150px;
  top: 80px;
  bottom: 0px;
  transition: transform .2s;
}

#cat2{
  text-align: left;
  position: absolute;
  background-color: white;
  left: 0px;
  visibility: hidden;
}

#cat_img2{
  position: absolute;
  width: 150px;
  height: 150px;
  top: 80px;
  bottom: 0px;
  transition: transform .2s;
}

#cat3{
  text-align: left;
  position: absolute;
  background-color: white;
  left: 0px;
  visibility: hidden;

}

#cat_img3{
  position: absolute;
  width: 150px;
  height: 150px;
  top: 100px;
  bottom: 0px;
  transition: transform .2s;
}


.line2{
  height: 2px;
  border-bottom:1px solid #313030;
  background: #717171;
  margin-top: 300px;
}




@keyframes blinker{
  50%{opacity: 0;}
}


