#container {
  position: absolute;
  height: 690px;
  width: 1400px;
  overflow: hidden;
  border: 1px solid black;
}

h1 {
  text-align: center;

}

#start_btn{
   cursor: pointer;
    color: black;
    text-align: left;
    border-radius: 5px;
    background-color: blue;
    position: absolute;
    padding: 6px;
    margin:30px 30px 30px 30px;

}

#slow_btn{
  cursor: pointer;
  color: black;
  text-align: left;
  border-radius: 5px;
  background-color:red;
  position: absolute;
  padding: 6px;
  margin: 75px 30px 30px 30px;
}

#target {
  position: absolute;
  left: 850px;
  top:100px;
}

#target_img{
  position: absolute;
  width:300px;
  height:300px;
  top:200px;
  bottom:0px;
}

#cat {
  text-align: left;
  position: absolute;
  background-color: white;
  left:0px;

}

#cat_img{
  position: absolute;
  width:150px;
  height:150px;
  top:250px;
  bottom: 0px;
  transition: transform .2s;
}




